<footer class="site-footer">


    <div class="row">

      <div class="col-sm-3">
        <ul class="footer-list">
          <li><a href="https://twitter.com/NspireNetwork" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/NspireNetwork" target="_blank">Facebook</a></li>          
          <li><a href="mailto:info@nspire.org">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="footer-list">
          <li><a href="https://twitter.com/NspireNetwork" target="_blank">Lisence</a></li>
          <li><a href="https://www.facebook.com/NspireNetwork" target="_blank">Privacy Policy</a></li>          
        </ul>
      </div>

    </div>

</footer>
