<header>

  <nav class="navbar navbar-default navbar-fixed-top nspire-navbar">
    <div class="row">
      <div class="col-md-3">
        <img src="img/nspire_logo_white.svg">
      </div>
      <div class="col-md-offset-4 col-md-2 nspire-navbar-event-blurb">
        <span class="lead">Next Event</span><br>
        November 14, 2014
      </div>
      <div class="col-md-3 nspire-navbar-event-button">
        <button type="button" class="btn btn-default">
        24 Hour Start-Up
      </button>
      </div>
    </div>
    <div class="nspire-navbar-navigation">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">NBTC</a></li>
        <li><a href="">Discovery Series</a></li>
        <li><a href="">Nspire TV</a></li>
        <li><a href="">Team</a></li>
        <li class="separator"></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </nav>

</header>
