
/**
 * Navbar
 */
header {     
    .nspire-navbar {
        background: $nspire-blue;
        color: #FFFFFF;
        .nspire-nav-logo {
            display: inline-block;
            float: left;
            img {
                width: 300px;
            }
        }
        .nspire-navbar-event {
            float: right;
            display: inline-block;
            padding-right: 31px;
            .nspire-navbar-event-blurb {
                display: inline-block;
                padding-top: 27px;
                padding-right: 15px;
                text-align: right;
                font-size: 15px;
                .blurb {
                    .lead {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                
            }
            .nspire-navbar-event-button {
                button {
                    font-size: 22px;
                    color: $nspire-blue;
                    background: #FFFFFF;
                    border-bottom: 5px solid #BED8F5;
                    border-radius: 7px;
                    &:hover {
                        border-bottom: none;
                        margin-top: 5px;
                    }
                }
                display: inline-block;
                position: relative;
                top: -12px         
            }
        }
        .nspire-navbar-navigation {
            button {
                background-color: #FFFFFF;
                span {
                    color: $nspire-blue;
                }
                &:active {
                    background-color: #FFFFFF;
                }
            }
            ul {
                clear: both;
                li {
                    display: inline-block;
                    padding: 0px 28px;
                    font-size: 16px;
                    .separator {
                        padding-top: 5;
                        height:20px;
                        border-right: 2px solid #FFFFFF;
                    }
                    a {
                        color: #FFFFFF;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.ds {
    height: 1000px;
}

/**
 * Site footer
 */
.site-footer {
    height: 113px;
    color: $footer-link-color;
    background: #000000;
    font-size: 11px;
    padding: 15px;
}

.footer-list {
    list-style: none;
    margin:auto;
    li{
        margin:10px 0px 10px 0px;
    }
    a {
        color: $footer-link-color;
        &:hover{
            text-decoration: none;
            color: $footer-link-color;
        }
    }
}

/* Responsive for navbar*/
@media (max-width: 767px) {
    header {
        .nspire-navbar {
            .nspire-nav-logo {
                img {
                    width:130px;
                }
            }
            .nspire-navbar-event {
                display: none;
            }
        }
    }
}
