
/**
 * Site footer
 */
.site-footer {
    height: 113px;
    color: $footer-link-color;
    background: #000000;
    font-size: 11px;
}

.footer-list {
    list-style: none;
    margin:auto;
    li{
        margin:10px 0px 10px 0px;
    }
    a {
        color: $footer-link-color;
        &:hover{
            text-decoration: none;
            color: $footer-link-color;
        }
    }
    

}


