
/**
 * Navbar
 */
header {     
    .nspire-navbar {
        background: $nspire-blue;
        color: #FFFFFF;
        .nspire-navbar-event-blurb {
            margin-top: 27px;
            text-align: right;
            font-size: 15px;
            .lead {
                font-size: 20px;
                font-weight: 600;
            }
        }
        .nspire-navbar-event-button {
            button {
                font-size: 22px;
                color: $nspire-blue;
                background: #FFFFFF;
                border-bottom: 5px solid #BED8F5;
                border-radius: 7px;
                &:hover {
                    border-bottom: none;
                    margin-top: 5px;
                }
            }
            margin-top: 27px;          
        }
        .nspire-navbar-navigation {
            ul {
                li {
                    display: inline-block;
                    padding: 0px 28px;
                    font-size: 16px;
                    .separator {
                        padding: 0;
                        border-right: 4px solid #FFFFFF;
                    }
                    a {
                        color: #FFFFFF;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
/**
 * Site footer
 */
.site-footer {
    height: 113px;
    color: $footer-link-color;
    background: #000000;
    font-size: 11px;
    padding: 15px;
}

.footer-list {
    list-style: none;
    margin:auto;
    li{
        margin:10px 0px 10px 0px;
    }
    a {
        color: $footer-link-color;
        &:hover{
            text-decoration: none;
            color: $footer-link-color;
        }
    }
}
